In [1]:
import re
import ast
import emot
import nltk
import string
import pycountry
import numpy as np
import pandas as pd
from collections import Counter
import matplotlib.pyplot as plt
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.sentiment import SentimentIntensityAnalyzer

In [2]:
d1 = pd.read_csv("missingbaby.csv")
d2 = pd.read_csv("timefices.csv")
d3 = pd.read_csv("scraped_tweets_missingbaby.csv")
pd.set_option('float_format', '{:.0f}'.format)

In [6]:
d3['tweetdate'] = d2['tweetdate']

In [8]:
d1 = d1.drop(columns=['Unnamed: 0','IDreplyTo'])

In [10]:
d3 = d3.drop(columns=['Unnamed: 0'])

In [35]:
data = pd.merge(d1, d3, on=['username', 'description', 'location', 'link','text','hashtags','tweetdate','following','followers','totaltweets','retweetcount'], how='outer')

In [36]:
data

,tweetID,username,description,location,following,followers,totaltweets,retweetcount,tweetdate,likes,link,text,hashtags
0,1634665979585380352,abt_live,"ABT LIVE covers breaking news, and the latest ...",India,10,767,69814,0,2023-03-11 21:21:54+00:00,0,https://twitter.com/i/web/status/1634665979585...,Constance Marten: Dead baby called Victoria fo...,"['eastsussex', 'brighton', 'metropolitanpolice..."
1,1634463934710177792,ATGBrokers,"ATGBrokers Group,\n( Founder/Owner )\n\nBreaki...",on Earth!,260,132,626868,0,2023-03-11 07:59:03+00:00,0,https://twitter.com/i/web/status/1634463934710...,News (Baby's body found in plastic bag in shed...,[]
2,1634386605480738816,Jane__8805,–ù–ærn—É w–æman üí•üòºüíê,NaN,176,2,316,1,2023-03-11 02:51:46+00:00,0,https://twitter.com/i/web/status/1634386605480...,"Absolutely heartbreaking, RIP bubba üíîüíî #consta...",['constancemartin']
3,1634157693530173440,gerrard7281,I will always love football ‚öΩÔ∏è,United Kingdom,58,303,267,54,2023-03-10 11:42:09+00:00,241,https://twitter.com/i/web/status/1634157693530...,"""We believe sadly the baby may have been dead ...",[]
4,1634157676849405952,gerrard7281,I will always love football ‚öΩÔ∏è,United Kingdom,58,303,267,88,2023-03-10 11:42:05+00:00,550,https://twitter.com/i/web/status/1634157676849...,Constance Marten and Mark Gordon charged with ...,[]
...,...,...,...,...,...,...,...,...,...,...,...,...,...
12848,NaN,stuartITV,Programme Editor at @itvnews / @itn. Thoughts ...,"Forest Hill, England",939,1505,16627,68,NaN,NaN,https://twitter.com/i/web/status/1630383684137...,#UPDATE | Constance Marten and Mark Gordon wer...,['UPDATE']
12849,NaN,janamb,"my world changed in an instant, treasure what ...",Worcester UK,2388,1321,45753,68,NaN,NaN,https://twitter.com/i/web/status/1630383457959...,#UPDATE | Constance Marten and Mark Gordon wer...,['UPDATE']
12850,NaN,Mel_Storni,"News, history, art, curious info of the world....",USA,354,972,569918,68,NaN,NaN,https://twitter.com/i/web/status/1630383109760...,#UPDATE | Constance Marten and Mark Gordon wer...,['UPDATE']
12851,NaN,metpoliceuk,London's Metropolitan Police Service. \n\nPlea...,London,793,1329842,33358,68,NaN,NaN,https://twitter.com/i/web/status/1630382776175...,#UPDATE | Constance Marten and Mark Gordon wer...,['UPDATE']
12852,NaN,SpareTheRodHQ,"#SpareTheRod is an ANTI-#ChildAbuse, #Troubled...",Anywhere The TTI Tries To Hide,3346,2334,19954,2,NaN,NaN,https://twitter.com/i/web/status/1629944114379...,https://t.co/T1lQ24hHwC\nUK cult expert says N...,"['Church', 'cult']"

In [15]:
len(data)

12853

In [16]:
data.sort_values(by='followers', ascending=False)[['username', 'followers']].drop_duplicates(subset='username').head(20)

              username  followers
7070            cnnbrk   64195142
7120               CNN   61267702
2905       BBCBreaking   51687011
1042          BBCWorld   39627731
2901           BBCNews   15068897
7118              cnni   14473199
11030         HuffPost   11204819
2763          guardian   10898010
11192          CBSNews    8918937
2871           SkyNews    8375913
8142      SkyNewsBreak    4992359
206    SaharaReporters    4967387
1444      guardiannews    3864054
2931       Independent    3629428
2961         Telegraph    3380840
2921        MailOnline    2821506
1184           itvnews    2613166
7388      Channel4News    2473570
2340            TheSun    2066638
11511             VICE    2015297

In [17]:
pd.set_option('float_format', '{:.0f}'.format)

print('Sort By retweets:')
sort_retweets = data.sort_values(by='tweetdate')[['username', 'text','retweetcount','link']].drop_duplicates(subset='text')
sort_retweets = sort_retweets.sort_values(by='retweetcount', ascending=False).head(10)

for i in (sort_retweets['link']):
    print(i)

sort_retweets

Sort By retweets:
https://twitter.com/i/web/status/1631025799716298752
https://twitter.com/i/web/status/1631008020128837633
https://twitter.com/i/web/status/1631007811827032064
https://twitter.com/i/web/status/1630611007184814094
https://twitter.com/i/web/status/1630616167139229720
https://twitter.com/i/web/status/1631379997796474887
https://twitter.com/i/web/status/1631680877234212864
https://twitter.com/i/web/status/1630550474612002816
https://twitter.com/i/web/status/1630499892752785408
https://twitter.com/i/web/status/1631306626228449288

,username,text,retweetcount,link
7542,DrProudman,The media assumes that privileged aristocrats ...,329,https://twitter.com/i/web/status/1631025799716...
8519,BBCBreaking,Baby's body found by UK police searching for m...,241,https://twitter.com/i/web/status/1631008020128...
8537,SkyNews,BREAKING: Police have found the remains of a b...,178,https://twitter.com/i/web/status/1631007811827...
10786,BBCBreaking,Constance Marten and Mark Gordon arrested on s...,95,https://twitter.com/i/web/status/1630611007184...
10626,metpoliceuk,Constance Marten and Mark Gordon further arres...,90,https://twitter.com/i/web/status/1630616167139...
5283,BBCBreaking,Constance Marten and Mark Gordon charged with ...,86,https://twitter.com/i/web/status/1631379997796...
4025,BBCBreaking,Couple Constance Marten and Mark Gordon appear...,84,https://twitter.com/i/web/status/1631680877234...
11534,DonnaDlm71,If you think the arrest of Mark Gordon &amp; C...,83,https://twitter.com/i/web/status/1630550474612...
12047,mwilliamsthomas,Update : Constance Marten &amp; Mark Gordon re...,78,https://twitter.com/i/web/status/1630499892752...
2905,BBCBreaking,Police questioning Constance Marten and Mark G...,71,https://twitter.com/i/web/status/1631306626228...

In [54]:
print('Sort By likes:')
sort_likes = data.sort_values(by='likes', ascending=False)[['text','likes','link']].drop_duplicates(subset='text').head(10)
    
for i in (sort_likes['link']):
    print(i)

sort_likes

Sort By likes:
https://twitter.com/i/web/status/1631343495771299853
https://twitter.com/i/web/status/1633764680756854784
https://twitter.com/i/web/status/1631887766433718274
https://twitter.com/i/web/status/1631276490028380161
https://twitter.com/i/web/status/1631380444343050244
https://twitter.com/i/web/status/1631333271077363729
https://twitter.com/i/web/status/1631527454383783937
https://twitter.com/i/web/status/1631732120480542720
https://twitter.com/i/web/status/1631739012393173010
https://twitter.com/i/web/status/1631319333757657091

,text,likes,link
2528,The media assumes that privileged aristocrats ...,3333,https://twitter.com/i/web/status/1631343495771...
23,Baby's body found by UK police searching for m...,877,https://twitter.com/i/web/status/1633764680756...
472,Constance Marten and Markl Gordon's baby was a...,687,https://twitter.com/i/web/status/1631887766433...
3020,Constance Marten and Mark Gordon‚Ä¶\nFuck you. F...,598,https://twitter.com/i/web/status/1631276490028...
2267,Constance Marten and Mark Gordon charged with ...,550,https://twitter.com/i/web/status/1631380444343...
2584,Bring back the death penalty for Constance Mar...,541,https://twitter.com/i/web/status/1631333271077...
1582,A special place in hell for Mark Gordon and Co...,499,https://twitter.com/i/web/status/1631527454383...
702,Couple Constance Marten and Mark Gordon appear...,455,https://twitter.com/i/web/status/1631732120480...
675,Not the most diplomatic tweet ever... but fuck...,412,https://twitter.com/i/web/status/1631739012393...
2701,BREAKING: Police have found the remains of a b...,365,https://twitter.com/i/web/status/1631319333757...